[submodule "third_party/mewjector"]
	path = third_party/mewjector
	url = https://github.com/githubuser508/mewjector.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/mew_ui_api"]
	path = third_party/mew_ui_api
	url = https://github.com/Pseudonym-Tim/mewgenics-ui-api.git
